{% extends 'bdaylayout.html'%}

{% block body %}
<style>
  .center-img{
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
</style>
<div class="center-img">
  <h1>YAY!!!! we'll be going out... I promise we'll have loads of fun</h1>
</div>

<div class="center-img">
  <img alt="yay" src="https://pa1.aminoapps.com/6596/3dd942ecbe269ca29baf2ab01e49ff314ce746d4_hq.gif" width=400><img alt="eat" src="https://64.media.tumblr.com/3357b37e8c2ecb56cebd3c32dd33aaf2/960543120adde7cb-03/s640x960/298148ed492290a17bf85af59b7db0649925ffb7.gif" width=400>
</div>
{% endblock %}
