{%extends 'template.html' %}

{%block body%}
<style>
  .cook {
    font-style: cursive;
    color: beige;
  }
  img {
    display: block;
    margin: 50px auto 0;
  }
  .cooking {
    color:brown;
    font-weight: bold;
    text-align: center;
    padding:200px 200px 0;
  }
  .cooks{
    magin-left:200px;
    margin-top:0;
    display:flex;
  }
</style>
<div class="cooking">
  <h1>Sorry to say this but we are not able to provide with sufficient help due to lack of info by you... PLEASE EXCUSE US!!!</h1>
  <img class="cooks" src="https://i.postimg.cc/ZqGtj7rw/ghost4.png" width="300px">
</div>


{%endblock%}