{% extends 'bdaylayout.html'%}

{% block body %}
<style>
  .center-img{
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
</style>

<div class="center-img">
  <h1> NOooooooo..... Please Nahhhhh..... Now you have to say yes!!!</h1>
</div>
<div class="center-img">
  <img alt="angry" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR59nYgHcgcaJ1IGq8lppRgdC6RRF-ncN-LIw&s" style= "max-width: 100%; height: auto">
</div>
<div class="center-img">
  <form action='/bday3' method='POST'>
    <button type="submit">yes</button>
  </form>
</div>

{% endblock %}